img { 
  display:block;
  margin:0 auto;
  border-radius:10px;
}
body {
  background: #fffdf2;
  font-family: Arial, sans-serif;
  color: eca427;
  margin: 0;
  line-height: 1.6;
  padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background: #ffb84d;
    border-radius: 10px;
    margin-bottom: 20px;
}



header h1 {
    font-size: 2.5rem;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ffe6c4;
    border-radius: 10px;
}
